<!DOCTYPE html>
<html>
<head>
	<title>Pragprog Books Online Store</title>
	<%= stylesheet_link_tag "scaffold" %>
	<%= stylesheet_link_tag "depot", :media => "all" %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
</head>
<body id="store" >
	<div id="banner" >
		<%= image_tag("logo.jpg") %>
		<%= @page_title || "Pragmatic Bookshelf" %>
	</div>
	<div id="columns" >
		<div id="side" >
			<a href="http://depot-hsz-t.heroku.com/" >Home</a><br />
			<a href="http://depot-hsz-t.heroku.com/faq" >Questions</a><br />
			<a href="http://depot-hsz-t.heroku.com/news" >News</a><br />
			<a href="http://depot-hsz-t.heroku.com/contact" >Contact</a><br />
		</div>
		<div id="main" >
			<%= yield %>
		</div>
	</div>
</body>
</html>